(
    arena_size: (1200.0, 800.0),
    boid_count: 100,
    boid_max_speed: 100.0,

    separation_weight: 4.0,
    separation_distance: 20,

    cohesion_weight: 0.1,
    cohesion_distance: 500,

    alignment_weight: 0.1,
    alignment_distance: 250,
)